
.page{
    width:470px;
    font-family: 'Iner',Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: #ffffff;
    color:#12153D;
    text-rendering: optimizeLegibility;
}