@import url('../vendor/normalize.css');
@import url('../vendor/font/font.css');
@import url('../blocks/page/page.css');

.rate{
    background-color:#e5e5e5e5;
}

.rate__img{
    width: 470px;
    border-radius:0 0 50px 50px;
    padding-bottom: 50px;
    object-fit: contain;
}

.rate__arrow{
    position: absolute;
    top:61px;
    left:41px;
    width:7px;
    height:14px;
}

.rate__container{
    width:calc(470px - 32px);
    padding:0;
    margin:0;
    list-style: none;
    position:absolute;
    top:298px;
    left: 32px;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 50px 0 0 50px;
}
.rate__item{
    padding-top:20.66px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate__icon{
   width:26.61px;
   height:25.35px;
}

.rate__icon-background{
    margin:0;
    padding-top:4px;
    padding-bottom: 3px;
    width:26.62px;
    
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color:#ffffff;
    background-color: #51CF66;
    border-radius:2px;
}
.rate__title{
   padding:0;
   margin:0;
   margin-top:9px ;
   margin-bottom: 2px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;

   color: #12153D;
}

.rate__subtitle{
    padding:0;
    margin:0;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    text-align: center;

    color: #9A9BB3;
}

.intro{
    padding-right: 32px;
    padding-left: 32px;
    margin:0;
    background-color: #e5e5e5e5;
}

.intro__title-container{
    padding:0;
    padding-top:48px;
    display: flex;
    justify-content: space-between;
}
.intro__title-box{
    padding:0;
    margin:0;
}
.intro__title{
    margin:0;
    padding:0;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #12153D;
}
.intro__subtitle-box{
    padding:0;
    margin-top:8px;
    list-style: none;
    display:flex;
    justify-content: space-between;
}
.intro__subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #9A9BB3;
}
.intro__plus{
    width:8.17px;
    height:8.17px;
    padding:27.915px;
    background: #FE6D8E;
    border-radius: 20px;
}
.intro__class-container{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    justify-content: flex-start;
}
.intro__class{
    padding-top:9px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1.5px solid rgba(18,21,61,0.15);
    border-radius: 100px;

    color: #434670;
}

.summary{
    background-color: #e5e5e5e5;
    padding-top:48px;
    padding-left: 5%;
    padding-right: 5%;
}

.summary__title{
    padding:0;
    margin:0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #12153D;
}

.summary__text{
    padding:0;
    margin:16px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #737599;
}